<!doctype html>
<html class="no-js " lang="{{ shop.locale }}">
  <head>
    {% if template contains 'index' %}
    <link fetchpriority="high" rel="preload" as="image" href="https://cdn.shopify.com/s/files/1/0507/6097/4513/files/lcp.webp?v=1655518795&width=400">
    {% endif %}
    {% if request.path contains 'family-bundle-diy-keepsake' %}
    <link fetchpriority="high" rel="preload" as="image" href="https://cdn.shopify.com/s/files/1/0507/6097/4513/products/familykit_3f4a999b-f5e6-471b-a2c2-3c8be46678bc_1200x.webp?v=1655562587">
    {% endif %}
    {% if request.path contains 'romance-bundle-diy-keepsake' %}
    <link fetchpriority="high" rel="preload" as="image" href="https://cdn.shopify.com/s/files/1/0507/6097/4513/products/natalie_1_1200x.jpg?v=1655557426">
    {% endif %}
    {% if request.path contains 'memory-bundle-diy-keepsake' %}
    <link fetchpriority="high" rel="preload" as="image" href="https://cdn.shopify.com/s/files/1/0507/6097/4513/products/JaneAdams_a06f57f4-94bf-4416-a7d7-f06cc23167a7_1200x.webp?v=1655562605">
    {% endif %}
    {% if request.path contains 'pearls-luxurious-decoration-pack' %}
    <link fetchpriority="high" rel="preload" as="image" href="https://cdn.shopify.com/s/files/1/0507/6097/4513/products/10_1200x.jpg?v=1606901115">
    {% endif %}
    {% if request.path contains 'baby-bundle-diy-keepsake' %}
    <link fetchpriority="high" rel="preload" as="image" href="https://cdn.shopify.com/s/files/1/0507/6097/4513/products/varneyfamily2-square_1200x.jpg?v=1654701601">
    {% endif %}
    {% if request.path contains 'proud-parent-bundle-diy-keepsake' %}
    <link fetchpriority="high" rel="preload" as="image" href="https://cdn.shopify.com/s/files/1/0507/6097/4513/products/Lluciana_h9_9c9952c1-0470-454c-9ab0-eea3c47c8220_1200x_1_1200x.jpg?v=1655565587">
    {% endif %}
    
    <link rel="preload" as="style" href="{{ 'theme.scss.css' | asset_url }}">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="theme-color" content="{{ settings.color_header_bg }}">
      {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
      {%- endif -%}
      <link rel="canonical" href="{{ canonical_url }}">
      <title>
        Pearl of my heart
      </title>
      {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
      {%- endif -%}
      {%- include 'social-meta-tags' -%}
      {%- include 'header-css' -%}
      {{ content_for_header }}
      <script src="{{ 'transFix.js'| asset_url}}" defer></script>
    </head>
    <body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} body-theme {% if settings.productpage == 'product-2' or settings.productpage == 'product-6' or settings.productpage == 'product-7' %} product-hide-breadcrumb {% endif %}" >
      {%- include 'header' -%}
      <!-- {%- section 'announcement-bar' -%} -->
      {%- include 'loading' -%}
    <div class="page-container page-element is-moved-by-drawer">
      <!-- {%- include 'breadcrumb' -%} -->
      <main class="main-content" id="MainContent" role="main">
        {%- if settings.enable_animationscroll -%}<div id ="js-scroll">{% endif%}
          {%- if settings.enable_animationscroll -%}<div data-scroll-section>{% endif%}
        {%- include 'slideshow' -%}
        {%- if settings.enable_animationscroll -%}</div>{% endif%}
        {{ content_for_layout }}
        {%- if settings.enable_animationscroll -%}</div>{% endif%}
      </main>
      {%- include 'footer' -%}
      {%- include 'popup-newsletter' -%}
      {%- section 'product-suggest' -%}
      {%- section 'recently-viewed' -%}
    </div>
    {%- include 'cookie-policy' -%}
    {%- include 'back-to-top' -%}
    {%- include 'menu-mobile' -%}
    {%- include 'notify-popup' -%}
    {%- include 'bottom-contents' -%}
    {%- include 'quickview' -%}
    {%- include 'popup-compare' -%}
    {%- include 'header-js' -%}
    {%- if settings.show_multiple_currencies -%}
    {{ "/services/javascripts/currencies.js" | script_tag }}
    {%- endif -%}
    <script>
      function toggleClassSearch(){
        document.getElementById("form-search-header").classList.toggle("active");
        document.getElementsByClassName("overlay")[0].classList.toggle("active");
        document.getElementById("SiteNavSearch").focus();
      }
      function myFunction(x) {
      x.classList.toggle("change");
     }
    
    </script>
        
        <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5NFP82T');</script>
  <!-- End Google Tag Manager -->
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NFP82T"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  </body>
</html>